
.bg_admn{
    background-image: url(../images/fondos/adminxl.png);
    background-repeat: no-repeat;
    background-size: auto;
    max-height:auto;
}
.navbar-container{
    .navbar-nav{
        .txt-admn{
            border-bottom: 1px solid black;
        }
    }
}