
.bg_admn{
    background-image: url(../images/fondos/adminxl.png);
    background-repeat: no-repeat;
    background-size: auto;
    max-height:auto;
}
.navbar-container{
    .navbar-nav{
        .txt-admn{
            border-bottom: 1px solid black;
        }
    }
}

.pie-admn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #9de7d746;
    position: absolute; 
    bottom: 0;
    width: 100%;
    padding: 10px;
    p{
        margin: 0;
    }
    a{
        text-decoration: none;
        color: black;
    }
    @include media-up(sm){
        bottom: auto;
    }
}