*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Josefin Sans;
}


.bg{
    background-image: url(../images/fondos/fondoxl.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: auto;
}