.soporte__img{
    img{
        display: block;
        bottom: 20px;
        right: 20px;
        border-radius: 50%;
        position: fixed;
        z-index: 99999;
        width: 60px;
        background-color: rgb(178, 226, 210);
    }
}