
$botones: rgb(227, 248, 239);
$subrayado: 1px solid #212222;

.bg__estad{
    background-image: url(../images/fondos/estadisticaxl.png);
    background-repeat: no-repeat;
}
.all__header{
    
    @include media-up(sm){
        font-size: 15px;
    }
}
.navbar-container{
    .navbar-nav{
        .txt-estad{
            border-bottom: 1px solid black;
        }
    }
}

.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    .boton__1{
        background-color:$botones;
        padding: 50px;
        border: none;
        margin: 50px;
        border-radius: 10px;
        box-shadow:1px 1px 30px -5px #212222ad ;
        
        @include media-up(md){
            margin: 10px;
        }
        @include media-up(xs){
            margin: 10px;
        }
    }
    .boton__2{
        background-color:$botones;
        padding: 50px;
        border: none;
        margin: 50px;
        border-radius: 10px;
        box-shadow:1px 1px 30px -5px #212222ad ;
        
        @include media-up(md){
            margin: 10px;
        }
        @include media-up(xs){
            margin: 10px;
        }
    }
    
    .boton__3{
        background-color:$botones;
        padding: 50px;
        border: none;
        margin: 50px;
        border-radius: 10px;
        box-shadow:1px 1px 30px -5px #212222ad ;
        
        @include media-up(md){
            margin: 10px;
        }
        @include media-up(xs){
            margin: 10px;
        }
    }
    
    .boton__4{
        background-color:$botones;
        padding: 50px;
        border: none;
        margin: 50px;
        border-radius: 10px;
        box-shadow:1px 1px 30px -5px #212222ad ;
        
        @include media-up(md){
            margin: 10px;
        }
        @include media-up(xs){
            margin: 10px;
        }
    }
    
    .boton__5{
        background-color:$botones;
        padding: 50px;
        border: none;
        margin: 50px;
        border-radius: 10px;
        box-shadow:1px 1px 30px -5px #212222ad ;
        
        @include media-up(md){
            margin: 10px;
        }
        @include media-up(xs){
            margin: 10px;
        }   
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        &:hover{
            color: rgb(198, 159, 248);
            font-size: 23px;
            }
    }
}

